body {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: sans-serif;
    font-size: 14px;
}
body,html{
    width: 100%;
    height: 100%;
}

.show_page {
    width: 100%;
    background-size: 100%;
    /* background-color: antiquewhite; */
    background-image: url(../img/index_all.jpg);
    background-repeat: no-repeat;
    background-position-x: 45%;
    background-position-y: 85%;
    color: rgb(223, 223, 223);
}

.btn_show {
    position: absolute;
    top: -20%;
    border: 2.4px inset rgb(0, 0, 0);
    margin-left: 50%;
    left:-64px;
    width: 128px;
    height: 48px;
    text-align: center;
    border-radius: 8px;
    line-height: 40px;
    font-size: 1em;
    box-sizing: border-box;
    font-weight: lighter;
    transform: rotate(180deg);
}
body:hover .btn_show{
    top: 80%;
    transform: rotate(360deg);
}
.btn_show>a {
    text-decoration: none;
    text-align: center;
    color: rgb(113, 255, 248);
}

.btn_show:hover {
    border: 1.6px outset rgba(38, 133, 139, 0.993);
    color: rgb(255, 255, 255);
    font-size: 1em;
    background-color:  rgba(76, 219, 255, 0.562);
}
.btn_show:active{
    border: 2.4px inset black;
}

.btn_show>a:hover {
    font-weight: normal;
    color: rgb(255, 255, 255);
}